/*
.env
.astro
.wrangler
dist
node_modules
worker-types.d.ts

# files
!.gitignore
!bun.lock
!package.json
!tsconfig.json
!.editorconfig
!.oxfmtrc.json
!.oxlintrc.json
!.gitattributes
!docker-compose.yml
!tsconfig.base.json
!.git-blame-ignore-revs

# directories
!bin
!web
!.vscode
!.github
!packages
!registry
