/*
.env
.astro
.wrangler
dist
node_modules
docker/certs
worker-types.d.ts

# files
!.gitignore
!bun.lock
!package.json
!wrangler.json
!tsconfig.json
!.editorconfig
!.oxfmtrc.json
!.oxlintrc.json
!.gitattributes
!astro.config.ts
!components.json
!docker-compose.yml
!tsconfig.base.json

# directories
!bin
!web
!web
!server
!public
!.vscode
!.github
!packages
!registry
!internal
!cloudflare
!migrations
